{% extends 'store/_base.html' %} {% block content %}
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Log In</h1>
      <p class="lead fw-normal text-white-50 mb-0">Log In to your account</p>
    </div>
  </div>
</header>

<div class="container py-4 px-7">
  <form method="post" action="">
    {% csrf_token %}
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input
        type="text"
        class="form-control"
        name="username"
        id="username"
        aria-describedby="usernameHelp"
      />
      <div id="usernameHelp" class="form-text">
        Usernames are unique.
      </div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" name="password" class="form-control" id="password" />
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" />
      <label class="form-check-label" name="checkbox" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>
{% endblock %} {% include 'store/_header.html' %}
