{% extends 'store/_base.html' %} {% block content %}
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Update Password</h1>
      <p class="lead fw-normal text-white-50 mb-0">Update your password</p>
    </div>
  </div>
</header>

<div class="container py-4 px-7">
  <form action="" method="post">
    {% csrf_token %} {% if form.errors %} {% for field in form %} 
    {% for error in field.errors %}
    <div class="alert alert-danger" role="alert">
      <strong>{{ field.label }}</strong>: {{ error }}
    </div>
    {% endfor %} {% endfor %} {% endif %} {{ form.as_p }}

    <button type="submit" class="btn btn-primary">Update Password</button>
  </form>
</div>
{% endblock %} {% include 'store/_header.html' %}
