{% extends 'store/_base.html' %} {% block content %}
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Orders Not Shipped Dashboard</h1>
      <p class="lead fw-normal text-white-50 mb-0">
        View orders that have not been shipped.
      </p>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Orders Not Shipped Dashboard</h1>
      <p>View orders that have not been shipped.</p>
      {% if orders %}
      <table class="table table-striped table-hover table-bordered">
        <thead>
          <tr>
            <th scope="col">Order ID</th>
            <th scope="col">Order Date</th>
            <th scope="col">Order Total</th>
            <th scope="col">Order Status</th>
            <th scope="col">Shipped Date</th>
            <th scope="col">Email</th>
            <th scope="col">Shipped</th>
          </tr>
        </thead>
        <tbody>
          {% for order in orders %}
          <tr>
            <td><a href="{% url 'orders' order.id %}">{{ order.id }}</a></td>
            <td>{{ order.date_ordered }}</td>
            <td>${{ order.amount_paid }}</td>
            <td>{{ order.shipped }}</td>
            <td>{{ order.date_shipped }}</td>
            <td>{{ order.email }}</td>
            <td>
              {% if order.shipped %}
              <form class="col-md-2" method="post" action="{% url 'orders' order.id %}">
                {% csrf_token %}
                <input type="hidden" name="shipped" value="false" />
                <button type="submit" class="btn btn-danger">
                  Mark as Not Shipped
                </button>
              </form>
              {% else %}
              <form class="col-md-2" method="post" action="{% url 'orders' order.id %}">
                {% csrf_token %}
                <input type="hidden" name="shipped" value="true" />
                <button type="submit" class="btn btn-primary">
                  Mark as Shipped
                </button>
              </form>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>No orders have been shipped.</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}